<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'table' %}">
        {% csrf_token %}
            <!-- <label for="fnum">First number:</label>
            <input type="text"  name="fnum" value="{{num1}}" ><br><br>
            <label for="lnum">Second number:</label>
            <input type="text"   name="lnum" value="{{num2}}" ><br><br>
            <input type="submit" value="Submit">
            <br><br><br> -->
    
        </form>
          
          {% for r in lst %}
            {{r}}<br>
          {% endfor %}      
</body>
</html>